<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if bmi< 16 %} 
        <h1>BMI = {{bmi}}: Severely Underweight</h1>
    {% elif bmi <= 18.5 %}
        <h1>BMI = {{bmi}}: Underweight</h1>
    {% elif bmi <= 25: %}
        <h1>BMI = {{bmi}}: Normal</h1>
    {% elif bmi <= 30 %}
        <h1>BMI = {{bmi}}: Overweight</h1>
    {% elif bmi > 30 %}
        <h1>BMI = {{bmi}}: Obese</h1>
    {% endif %}
    
</body>
</html>