<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>login</h2>
    <form action="" method="post">
        <label for="">Model</label>
        <input type="text" name="model">
        <label for="">Daily fee</label>
        <input type="text" name="daily_fee">
        <label for="">Image</label>
        <input type="text" name="image">
        <label for="">Year</label>
        <input type="text" name="year">
        <button>Submit</button>
    </form>

    
</body>
</html>